nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(50, 54, 116);
    color: aliceblue;
}

.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: aliceblue;
    

}
a{
    text-decoration: none;
    color: aliceblue;
}

 
  
  
  
  